@keyframes fade {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.thankYou-container {
  align-items: center;
  width: 100%;
  user-select: none;
  background: hsla(234, 20%, 18%, 0.792);
  padding: 2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;

  p {
    color: rgb(177, 176, 176);
  }

  .rate-div {
    color: hsl(30, 100%, 42%);
    background: rgb(59, 59, 59);
    width: 15rem;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 1rem 0 0 0;
  }

  &.show {
    display: block;
    animation: fade 1s ease-in-out;
  }
}