@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
.rating-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #252d37;
  padding: 2rem;
  width: 20rem;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

.rating-container .star {
  background: #2a3441;
  padding: 0.6em;
  border-radius: 50%;
  width: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.rating-container .rate-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-container .rate-selection .rateBtn {
  margin: 0 auto;
  background: #2a3441;
  padding: 0.7rem;
  border-radius: 50%;
  width: 1.4rem;
  text-align: center;
  color: #959eac;
}

.rating-container .rate-selection .rateBtn:hover {
  background: #7c8798;
  color: #ffffff;
  cursor: pointer;
}

.rating-container .rate-selection .rateBtn.active {
  background: #fb7413;
  color: white;
}

.rating-container .submitBtn {
  margin: 1.5rem 0 0 0;
  background: #fb7413;
  border-style: none;
  border-radius: 30px;
  font-weight: 600;
  padding: 1rem;
  color: white;
  width: 100%;
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.rating-container .submitBtn:hover {
  background: white;
  color: #fb7413;
}

.rating-container.hide {
  display: none;
}

@-webkit-keyframes fade {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.thankYou-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #252d37;
  padding: 2rem;
  width: 20rem;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.thankYou-container p {
  color: #b1b0b0;
}

.thankYou-container .rate-div {
  color: #d66b00;
  background: #3b3b3b;
  width: 13rem;
  padding: 0.3rem;
  border-radius: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 1rem 0 0 0;
}

.thankYou-container.show {
  display: block;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

@media (max-width: 768px) {
  .rating-container, .thankYou-container {
    margin: 0 auto;
    width: 70%;
    height: auto;
  }
}

body {
  font-family: 'Overpass', sans-serif;
  background: #121417;
  color: white;
}

body a {
  color: white;
}

body p {
  color: #959eac;
  font-size: 0.9375rem;
}

body .attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */