@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import "ratingContainer";
@import "thankYouContainer";
@import "mobileView";

body {
  font-family: 'Overpass', sans-serif;
  background: hsl(216, 12%, 8%);
  color: white;
  
  a {
    color: white;
  }

  p {
    color: hsl(217, 12%, 63%);
    font-size: 0.9375rem;
  }

  .attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
